name: Deploy to Firebase

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Firebase
        uses: firebase/firebase-action@master
        with:
          args: deploy
        env:
          FIREBASE_SERVICE_ACCOUNT_FINBUDDY_MUMBAIHACKS: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_FINBUDDY_MUMBAIHACKS }}
          PROJECT_ID: finbuddy-mumbaihacks
